main { min-height: 80vh; }
span { font-weight: bold; }
footer, header { text-align: center;}

/*--- FORMULARIOS Y ESTADISTICAS ---*/
#formulario,
#filtros,
#estadisticas { 
    display: grid;
    justify-content: center;
}

#formulario h2,
#filtros h2,
#estadisticas h2 {
    text-align: center;
}


/*--- COLUMNAS ---*/
/* GRID DE CARDS */
#tablero,
.encabezado {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

/* CARDS */
.columna {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    padding: 1rem;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    line-height: 0.7rem;

}

.columna h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.toDo {
    background-color: rgb(219, 192, 179);
}

.en-progreso {
    background-color: rgb(219, 218, 179);
}

.finalizado {
    background-color: rgb(179, 219, 179);
}

.toDo, .en-progreso, .finalizado {
    padding: 0.2em 0 1em 0;
    border-radius: 6px;
    margin-bottom: 1em;
}
